//====================================
// ## ++ Variabele
//====================================
$grey-dark: #333333;
// also the brand-color on mixin boxshadow
$grey: #aaaaaa;

$orange: #ffb400;

$logocolor: #138ca4;

$grey-lighter: #cccccc;

$hover-color: #138ca4;

//=============================
// ## ++ Placeholders
//=============================
%buttonAll {
  margin-top: 10px;
  background: $grey;
  border: none;
  padding: 10px;
  &:hover {
    color: #ffffff;
  }
}

%buttonCart {
  margin-top: 10px;
  width: 100%;
  background: $logocolor;
  border: none;
  padding: 10px;
  color: white;
  &:hover {
    color: #000000;
  }
}