//================================
// ## ++ Footer
//=================================
footer {
  background: $logocolor;
  .footer-wrap {
    color: $grey-dark;
    min-height: 50px;
    padding: 15px;

  }
}

.mail-chimp {
  font-size: 20px;
}