//====================================
// ## ++ Header
//====================================

.logo {
  margin: 15px 0;
  color: white;
  h1  {
    &.site_name {
      font-size: $fontsize-basic +2.50em; //40px / 16px
      font-weight: bold;
    }
  }
  img {
    width: 100%;
    height: auto;
  }

}