//=============================================
// @@ ++ Views Exposed Filter Form
//=============================================

.ctools-auto-submit-full-form {
  border: solid 1px $logocolor;
  padding: 0 25px;
  margin-bottom: 15px;
  .views-exposed-form {
    .views-widget {
    }
    .views-widget-filter-field_telefunken_value {
      margin-bottom: 2em;
      .views-widget {
        margin-top: 10px;
      }
    }
    .views-submit-button {
      margin-top: 0.5em;
      // override the btn in _buttons.scss
      .btn {
        color: white;
        padding: 12px 35px 10px;
        &:hover {
          color: black;
        }
      }
    }
  }
}