//================================
// @@ ++ Message Order
// Getoond op volgende pagina's
// /cart /cart/checkout /cart/checkout/review
//================================

.orderMessageBlock {
  background-color: $logocolor;
  color: white;
  padding: 40px;
}