//===========================================
// @@ ++ Webforms
//==========================================
form.webform-client-form {
  input {
    &[readonly='readonly'] {
      border: none;
      color: $hover-color;
      font-weight: bold;
    }
    &[type='submit']{
      @extend %buttonAll;
      width: 50%;
    }
  }
  .grippie {
    display: none;
  }
}

// contact form more info
.map_contact__wrap {
  min-height: 275px;
  .map {
    float: left;
    margin-right: 20px;
  }
}


