//===========================================
// @@ ++ User better login
//===========================================

#auth_box {
  width: 550px;
  a {
    color: #ffffff;
    &:hover {
      color: $hover-color;
      text-decoration: none;
    }
  }
  .password_link, .register_link {
    padding: 15px 0 0;
  }
  input[type=submit] {
    @extend %buttonAll;
    @include roundcorners(0px);
  }
}

#middle_part {
  legend {
    font-size: 1.6em;
  }
  #edit-uc-addresses {
  }
  #edit-legal {
    margin-top: 40px;

    .form-item-legal-accept {
      padding-left: 45px;
      a {
        color: #000000;
        &:hover {
          color: $hover-color;
        }
      }
    }
  }
}

