//==========================================
// ## ++ Cart Checkout
//==========================================
.uc-cart-checkout-form {
  legend {
    font-size: 18px;
    padding: 10px 0 5px;
  }
  input[type='submit'] {
    @extend %buttonAll;
    @include roundcorners(0px);
    margin-top: 0;
    & #edit-cancel {
      margin-right: 10px;
    }
  }
  .btn-cancel {
    margin-right: 15px;
  }
}