//==========================================
// ## ++ Cart
//==========================================
//Left block
.block-uc-cart {
  border: solid 1px $grey-lighter;
  margin: 20px 0;
  padding: 5px;
  text-align: center;
  h2 {
    font-size: $fontsize-basic +0.5em; //24px / 16px
  }
  td {
    padding: 5px;
  }
  .cart-block-icon-full {
  }
}

table.cart-block-summary {
  margin-bottom: 20px;
  ul.links {
    padding-top: 15px;
  }
}

//Cart page
#uc-cart-view-form {
  input[type='submit'] {
    @extend %buttonAll;
    margin-top: 0;
  }
  & #edit-update {
    margin: 0 10px;
  }
  .btn.btn-remove {
    background: #ffffff;
    &:hover {
      color: #000000;
    }
  }
  td {
    padding: 5px;
    vertical-align: bottom;
  }
  tr {
    background-color: transparent;
    &:hover {
      background-color: #efefef;
    }
  }
}
