//===========================================
// @@ ++ Terms Of Use
//==========================================

fieldset {
  &#edit-terms-of-use {
    &.form-wrapper {
      margin-top: 25px;
      border: solid 1px $grey;
      padding: 25px;
      legend {
        font-size: 35px;
      }
    }
  }
}
