//=================================================
// @@ ++ Terms of conditions
// opmaak tekst module Legal
// https://www.drupal.org/project/legal
//=================================================

.strong__terms {
  font-weight: bold;
  font-size: 20px;
}