//================================
// @@ ++ Media query's
//================================
@media only screen and (max-width: 1366px) {
  /* css code voor tablets in landscape mode*/
}

@media only screen and (max-width: 960px) {
  /* css code voor tablets in portrait mode */
}

@media only screen and (max-width: 767px) {
  /* css code voor smartphones in landscape mode */
}

@media only screen and (max-width: 479px) {
  /* css code voor smartphones in portrait mode */

  //product page
  .product_wrapper {
    .btn-default {
      font-size: 12px;
    }
  }
}
