//==========================================
// ## ++ Serif Fonts
//============================================
$font-georgia: Georgia, serif;

$font-palatino: "Palatino", "Book Antiqua", Palatino, serif;

$font-times: "Times New Roman", Times, serif;

//Sans-Serif Fonts

$font-arial: Arial, Helvetica, sans-serif;

$font-arialblack: "Arial Black", Gadget, sans-serif;

$font-comic: "Comis Sans MS", cursive, sans-serif;

$font-impact: Impact, Charcoal, sans-serif;

$font-lucida: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

$font-tahoma: Tahoma, Geneva, sans-serif;

$font-trebuchet: "Therbuchet MS", Helvetica, sans-serif;

$font-verdana: Verdana, Geneva, sans-serif;

//Monospace Fonts

$font-courier: "Courier New", Courier, monospace;

$font-lucida: "Lucida Console", Monaco, monospace;

//basic font-size is 16px by reset by meyerweb
$fontsize-basic: 0.875em; //14px / 16px