//================================
// @@ ++ Under construction
//================================

.maintenance-page {
  #content {
    padding: 100px;
    background-color: white;
    color: #000000;
  }
}